body {
background-color: black;
margin: 50px;
}

h2 {
font-family: Arial;
font-size: 50px;
color: white;
text-align: center;
}

p {
font-family: Arial;
font-size: 20px;
color: white;
}

a {
color: white;
}
