body {
background-color: rgb(251, 207, 40);
background-image: radial-gradient(circle, rgba(85, 90, 98, 1) 0%, rgba(47, 48, 55, 1) 70%);
background-size: auto;
background-position: center 75%;
background-repeat: repeat;
}

h2 {
font-family: Arial;
font-size: 50px;
color: white;
text-align: center;
  
-webkit-transition: color 0.5s ease-in-out;
-moz-transition: color 0.5s ease-in-out;
-ms-transition: color 0.5s ease-in-out;
-o-transition: color 0.5s ease-in-out;
transition: color 0.5s ease-in-out;
}

p {
font-family: Arial;
font-size: 20px;
color: white;
}

a {
color: white;
}
