body {
background-color: #1a1e3b;
margin: 150px;
}

h1 {
color: white;
font-family: Arial; 
}

p {
color: white;
font-family: Arial; 
}

a {
color: white;
font-family: Arial; 
}

ul {
color: white;
font-family: Arial; 
}

li {
color: white;
font-family: Arial; 
}
