body {
background-color: #080912;
margin: 150px;
}

h1 {
color: #3a8eb5;
font-family: Arial; 
}

h2 {
color: #5ce667;
font-family: Arial; 
}

p {
color: white;
font-family: Arial; 
}

a {
color: #5ce667;
font-family: Arial; 
}

ul {
color: white;
font-family: Arial; 
}

li {
color: white;
font-family: Arial; 
}
